@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Sistema Loja</h1>
    <p class="lead">Criado para tentar uma Vaga de estágio e aprender com o desafio proposto.</p>
    <p>Clique em cliente para testar o projeto</p>
</div>